/* * {
    background-color: #f0b7b7;
} */

h2 {
    background-color: #eae2b7;
}

/* ex.1 */
.jumbotron {
    animation-duration: 2s;
    animation-name: fade-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ex2-div2 {
    flex-direction: column;
    justify-content: space-evenly
}

/* ex.3 */
.card {
    position: relative;
}

.badge {
    position: absolute;
    top: 0;
    left: 0;
}

/* ex.4 */
.table.table-borderless.table-dark {
    background-color: #d62828;
    color: #eae2b7;
}

/* ex.5 */
td:last-of-type {
    width: 100px;
}

/* ex.6 */
.button-ex6 {
    transition:0.3s;
}

.button-ex6:hover {
/* animation-name: hover-button;
animation-duration: 0.5s; */
background-color: rgb(240, 240, 240);
color: #007bff;
position: relative;
top: -3px;
box-shadow: 2px 8px 18px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 8px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 8px 18px -2px rgba(0,0,0,0.75);
}
