.jumbotron {
    animation-duration: 2s;
    animation-name: fade-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ex2-div2 {
    flex-direction: column;
    justify-content: space-evenly
}